! xterm

xterm*faceName: Hack for Powerline, Medium
xterm*faceSize: 8

xterm*loginshell: true

xterm*savelines: 5000000

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Base16 Materia
! xterm*foreground: rgb:cd/d3/de
! xterm*background: rgb:26/32/38
! xterm*color0: rgb:26/32/38
! xterm*color1: rgb:ec/5f/67
! xterm*color2: rgb:8b/d6/49
! xterm*color3: rgb:ff/cc/00
! xterm*color4: rgb:89/dd/ff
! xterm*color5: rgb:82/aa/ff
! xterm*color6: rgb:80/cb/c4
! xterm*color7: rgb:cd/d3/de
! xterm*color8: rgb:70/78/80
! xterm*color9: rgb:ec/5f/67
! xterm*color10: rgb:8b/d6/49
! xterm*color11: rgb:ff/cc/00
! xterm*color12: rgb:89/dd/ff
! xterm*color13: rgb:82/aa/ff
! xterm*color14: rgb:80/cb/c4
! xterm*color15: rgb:ff/ff/ff

! zenburn
xterm*xftAntialias: true
xterm*background: #3f3f3f
xterm*foreground: #dcdccc
xterm*cursorColor: #aaaaaa
xterm*colorUL: #366060
xterm*underlineColor: #dfaf8f
xterm*color0: #3f3f3f
xterm*color1: #cc9393
xterm*color2: #7f9f7f
xterm*color3: #d0bf8f
xterm*color4: #6ca0a3
xterm*color5: #dc8cc3
xterm*color6: #93e0e3
xterm*color7: #dcdccc
xterm*color8: #000000
xterm*color9: #dca3a3
xterm*color10: #bfebbf
xterm*color11: #f0dfaf
xterm*color12: #8cd0d3
xterm*color13: #dc8cc3
xterm*color14: #93e0e3
xterm*color15: #ffffff

xterm*colorInnerBorder: true
! xterm*borderColor: rgb:26/32/38
xterm*borderColor: #3f3f3f

xterm*rightScrollBar: false
xterm*ScrollBar: false

xterm*scrollTtyOutput: true

XTerm*selectToClipboard: true

XTerm*vt100*printerCommand: xterm -T History -e sh -c 'sed -r "s/[^[:print:]](([#][0-9])|([\[][0-9;-]*[a-zA-Z]))//g" <&3 | less' 3<&0
XTerm*VT100*translations: #override \n\
    Ctrl Shift <Key>V:  insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:  select-end(CLIPBOARD)       \n\
    Ctrl Shift <Key>L:  clear-saved-lines()         \n\
    Ctrl   <Key>slash:  print-everything()
